.favorite-button {
  background-color:#30b0a8;
  border: none;
  color: white;
  padding: 12px 14px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 17px;
}


@media screen and (max-width: 600px) {

  .favorite-button {
  padding: 10px;
  }
}