.label-container {
  background-color: brown;
  font-weight: bold;
  color: white;
  position: absolute;
  transform: rotateY(0deg) rotate(45deg); /* needs Y at 0 deg to behave properly*/
  transition: transform 2s;
  right: 0;
  height: 20px;
  align-self: center;
  vertical-align: middle;
  border-top: 1px grey solid; 
  border-bottom: 1px grey solid;
  padding: 10px;

}