.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns */
.column {
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 100%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
  .column {
    height: 100%;
  }
}