.card-item {
  flex: 1 0 20vw;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin: auto;
}
.card {
  max-width: 350px;
  width: 100%;
  color: red;
  display: flex;
  flex: 0 0 50%;
  padding: 12px;
  border-radius: 3px;
  flex-direction: column;
  text-decoration: none;
  color: #000;
  margin: auto;
}
