.container {
  margin: 0px auto;
  width: 100%;
  text-align: center;
}
.container input {
  padding: 16px 30px;
  font-size: 22px;
  font-style: italic;
  color: grey;
}
.search-label {
  position: relative;
  padding: 30px;
}

.search-icon {
  position: absolute;
  left: 3px;
  top: calc(50% - 0.5em); /* Keep icon in center of input, regardless of the input height */
}
input{
  padding-left: 17px;
}
.input-wrapper{
  position: relative;
}
.search-result-list {
  display:flex;
}

.search-result {
  display: inline;
}